<app-badge-came class="p-col-10" [type]="recipe.type"></app-badge-came>
<p-divider></p-divider>
<article class="p-d-flex">
    <article class="p-col-6">
        <div class="p-d-flex">
            <div class="p-col-6  p-p-0">
                <p class="footer-title p-m-0 p-text-bold">Portion </p>
            </div>
            <div class="p-col-6  p-p-0">
                <p class="footer-content  p-m-0">{{recipe.member}}</p>
            </div>
        </div>

        <div class="p-d-flex">
            <div class="p-col-6  p-p-0">
                <p class="footer-title p-m-0 p-text-bold">Temps de préparation </p>
            </div>
            <div class="p-col-6  p-p-0">
                <p class="footer-content p-m-0" *ngIf="recipe.time_preparation"> {{recipe.time_preparation}}</p>
            </div>
        </div>
        <div class="p-d-flex">
            <div class="p-col-6 p-p-0">
                <p class="footer-title p-m-0 p-text-bold">Temps de cuisson </p>

            </div>
            <div class="p-col-6  p-p-0">
                <p class="footer-content p-m-0" *ngIf="recipe.time_cuisson"> {{recipe.time_cuisson}}</p>
            </div>
        </div>
    </article>

    <p-divider layout="vertical" ></p-divider>
    <article class="p-d-flex p-col-6" >
        <app-difficultes [difficult]="recipe.difficult" [oneLine]="true"></app-difficultes>
    </article>
</article>
<p-divider></p-divider>
