<article class="p-p-2" (click)="show()">
    <p-card [style]="{width: full ? '100%': '200px' ,height:'38.2em'}" styleClass="p-card-shadow">
        <div class="p-text-center">
            <img class="customer-reviews-image-show" src="../../../assets/img2.png" width="100%"/>
            <div class="text-top">
                <h1>Je donne mon <span class="text-important">avis</span></h1>
            </div>
            <div class="text-bottom">
                <div>et permet au site d'<span class="text-important">évoluer</span>.</div>
            </div>
        </div>
    </p-card>
</article>
