@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/*
*/


.type-p, .type-trad, .type-class, .type-accom, .type-sauce{
    font-family: 'Dancing Script', cursive;
    font-size: 0.90em;
    padding: 0.1em 0.2em;
    height: 41px;
    border-radius: 10px;
    text-align: center;
}

.type-trad{
    background-color: #FCD116;
    color: #333333;
}

.type-sauce{
    background-color: #CE1126;
    color: white;
}

.type-class{
    background-color: #007A5E;
    color: white;
}

.type-accom{
    background-color: #0288D1;
    color: white;
}
