
.footer-suite{
    font-family: 'Dancing Script', cursive;
    text-align: right;
}

:host >>> .p-card{
    cursor: pointer;
}
/*
:host >>> .p-card .p-card-body{
    height: 1em;
}*/
:host >>> .p-card .p-card-content{
    padding: 0;
}
:host >>> .p-card-title{
    font-family: 'Dancing Script', cursive;
    min-height: 3.4em;
    max-height: 3.4em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resize_fit_center {
    height: 12.5em;
    object-fit: cover;
    width: 100%;
}

:host >>> .p-badge.p-badge-warning {
    margin : 2px 1px ;
}
:host >>> .p-card .p-card-footer {
    padding: 0;
}
.footer-title{
    font-size: 0.8em;
}
.footer-content{
    font-size: 0.8em;
}
.difficult_title{
    font-size: 0.8em;
}
.difficult_image, .difficult_image_color{
    margin: 0 2px 0 2px;
    width: 25px;
}
.difficult_image_color{
    filter: opacity(20%);
    -webkit-filter: opacity(20%);
 }

.plugin-facebook-like{
    margin-left: -9px;
}
