<article class="p-p-2" *ngIf="recipe" >
    <p-card [routerLink]="['/recipe', recipe.id, recipe.title ]"
            [header]="recipe.title" [style]="{width: full ? '100%': '200px',height: '37.5em'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img class="resize_fit_center" alt="Card" [src]="recipe.img[0]">
        </ng-template>

        <p-divider class="p-m-0"></p-divider>
            <div class="p-d-flex">
                <div class="p-col-6 p-p-0">
                    <p *ngIf="recipe.member" class="footer-title p-m-0 p-text-bold">Portion</p>
                    <p *ngIf="recipe.member" class="footer-content  p-m-0">{{recipe.member}}</p>
                </div>
                <div class="p-col-6 p-text-right p-p-0">
                    <p class="footer-title p-m-0 p-text-bold">Temps</p>
                    <p class="footer-content p-m-0" *ngIf="recipe.time_preparation">{{recipe.time_preparation}}</p>
                    <p class="footer-content p-m-0" *ngIf="recipe.time_cuisson">{{recipe.time_cuisson}}</p>
                </div>
            </div>
        <p-divider class="p-m-0"></p-divider>

        <app-difficultes [difficult]="recipe.difficult" [oneLine]="false"></app-difficultes>

        <p-divider class="p-m-0"></p-divider>

        <app-badge-came class="p-m-0 p-p-0" [type]="recipe.type"></app-badge-came>

        <app-plugin-like-facebook class="p-p-0 p-m-1" [recipe]="recipe"></app-plugin-like-facebook>
    </p-card>
</article>
