<h2 class="p-text-center liste-title">--- Listes des recettes ---</h2>
<section class="recipes-section ">
    <p-dataView layout="grid" [value]="recipes" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-row-reverse">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>

        <ng-template let-recipe pTemplate="listItem" >
            <article class="recipes-listItem" [routerLink]="['/recipe', recipe.id, recipe.title ]">
                <div class="p-m-1">
                    {{recipe.title}}
                </div>
            </article>

        </ng-template>

        <ng-template let-recipe pTemplate="gridItem">
            <app-recipe-fiche-came [recipe]="recipe"></app-recipe-fiche-came>
        </ng-template>

        <ng-template let-item pTemplate="paginatordropdownitem">
            {{item.value}} - per page
        </ng-template>
    </p-dataView>
</section>



