@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.liste-title{
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    color: #333;
}
.recipes-section{
    margin: 0 5%;
    width: 90%;
}
.recies-listItem{
    width: 100%;
}
