<h2 class="p-text-center liste-title">--- Listes des recettes ---</h2>
<section class="recipes-section ">
    <p-dataView layout="grid" [value]="recipes" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-recipe pTemplate="listItem" >
            <article class="recies-listItem">
                <div class="p-m-1">
                    {{recipe.title}}
                </div>
            </article>

        </ng-template>
        <ng-template let-recipe pTemplate="gridItem">
            <article class="p-p-2 ">
                <p-card [routerLink]="['/recipe', recipe.id, recipe.title ]"
                        [header]="recipe.title" [subheader]="recipe.subTitle" [style]="{width: '200px'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" [src]="recipe.img">
                    </ng-template>
                    <p>{{recipe.description}}</p>
                </p-card>
            </article>
        </ng-template>

        <ng-template let-item pTemplate="paginatordropdownitem">
            {{item.value}} - per page
        </ng-template>
    </p-dataView>
</section>



