<article class="p-p-2 " *ngIf="recipe">
    <p-card [routerLink]="['/recipe', recipe.id, recipe.title ]"
            [header]="recipe.title" [style]="{width: '200px',height: '31em'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img class="resize_fit_center" alt="Card" [src]="recipe.img">
        </ng-template>
        {{recipe.description}}
        <ng-template pTemplate="footer">
            ...
            <div class="p-mt-2">
                <span class="p-badge p-badge-warning" *ngIf="recipe.member">{{recipe.member}}</span>
                <span class="p-badge p-badge-success" *ngIf="recipe.time_preparation">{{recipe.time_preparation}}</span>
                <span class="p-badge p-badge-danger" *ngIf="recipe.time_cuisson">{{recipe.time_cuisson}}</span>
            </div>
        </ng-template>
    </p-card>
</article>
