@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.liste-title{
    font-family: 'Dancing Script', cursive;
    width: 100%;
    font-size: 2em;
    color: #333;
}
.back-recipe{
    font-family: 'Dancing Script', cursive;
    width: 100%;
    margin: 0 0 0 5%;
    font-size: 1.4em;
}
.recipes-section{
    margin: 0 5%;
    min-height: 300px;
    width: 90%;
    background-color: #F7F7F7;
}
