<section class="recipes-section p-d-flex p-flex-row  p-justify-around">
    <div class="p-d-flex footer-background ">
        <div class="p-col-2 p-m-3" *ngIf="recipeDetails.ingredients">
            <p class="footer-title">Description :</p>
            <p>{{recipeDetails.description}}</p>
            <app-recipe-ingredient-list [ingredients]="recipeDetails.ingredients"></app-recipe-ingredient-list>
        </div>

        <p-divider layout="vertical" ></p-divider>

        <div class="p-col-4 p-m-3">
            <app-recipe-details-ingredient pCol="p-col-6" [ingredientsImg]="ingredientsImg"></app-recipe-details-ingredient>
            <div *ngFor="let img of recipeDetails.img">
                <img class="resize_fit_center_big" [src]="img"/>
            </div>
        </div>
        <div class="p-col-5 p-m-3 p-pl-6">
            <app-recipe-details-details [recipe]="recipeDetails"></app-recipe-details-details>
            <article *ngIf="recipeDetails.advices">
                <p class="footer-title">Conseils :</p>
                <p *ngFor="let advice of recipeDetails.advices"  [innerHTML]="advice"></p>
            </article>

            <app-recipe-details-step [recipe]="recipeDetails"></app-recipe-details-step>
            <article class="p-text-right"><b>BON APPÉTIT</b></article>
        </div>
    </div>
</section>
