<h2 class="p-text-center liste-title">Listes des recettes</h2>
<section class="recipes-section ">
    <p-dataView layout="grid" [value]="recipes" [paginator]="true" [rows]="15">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-row-reverse">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>

        <ng-template let-recipe pTemplate="listItem" >
            <article class="recipes-listItem p-d-flex" [routerLink]="['/recipe', recipe.id, recipe.title ]">
                <app-badge-came [type]="recipe.type"  ></app-badge-came>
                <div class="p-m-1">{{recipe.title}}</div>
            </article>

        </ng-template>

        <ng-template let-recipe pTemplate="gridItem">
            <app-recipe-fiche-came *ngIf="mobile" [recipe]="recipe" [full]="true" ></app-recipe-fiche-came>
            <app-recipe-fiche-came *ngIf="!mobile" [recipe]="recipe" [full]="false" ></app-recipe-fiche-came>
        </ng-template>

        <ng-template let-item pTemplate="paginatordropdownitem">
            {{item.value}} - per page
        </ng-template>
    </p-dataView>
</section>



