<section class="recipes-section p-d-flex p-flex-row  p-justify-around">

    <div class=" footer-background ">
        <section class="p-m-3">
            <p class="footer-title">Description :</p>
            <p>{{recipeDetails.description}}</p>
        </section>

        <section class="p-d-flex">
            <img class="p-col-6  resize_fit_center_small" [src]="recipeDetails.img[0]"/>

            <div class="p-col-5" *ngIf="recipeDetails.ingredients">

                <p class="footer-title">Ingrédients :</p>
                    <div class="p-d-flex p-mb-2" *ngFor="let ingredient of recipeDetails.ingredients">
                        <span class="p-col-2 p-badge p-badge-warning" *ngIf="ingredient.amount">{{ingredient.amount}}</span>
                        <p class="p-m-0">{{ingredient.name}}</p>
                    </div>
            </div>
        </section>

        <p-divider></p-divider>

        <section class="p-ml-2 p-mr-2">
            <app-recipe-details-ingredient pCol="p-col-12" [ingredientsImg]="ingredientsImg"></app-recipe-details-ingredient>
        </section>

        <p-divider></p-divider>

                <div class=" p-m-3">
                    <app-recipe-details-details-small [recipeDetails]="recipeDetails "></app-recipe-details-details-small>

                    <article *ngIf="recipeDetails.advices">
                        <p class="footer-title">Conseils :</p>
                        <p *ngFor="let advice of recipeDetails.advices"  [innerHTML]="advice"></p>
                    </article>
                    <app-recipe-details-step [recipe]="recipeDetails"></app-recipe-details-step>
                </div>
        <img *ngIf="recipeDetails.img[1]" class="resize_fit_center p-p-3" [src]="recipeDetails.img[1]"/>

        <article class="p-text-right p-mb-4 p-mr-5"><b>BON APPETTIT</b></article>

    </div>
</section>
