<app-badge-came [type]="recipeDetails.type" ></app-badge-came>
<p-divider></p-divider>

        <div class="p-d-flex">
            <div class="p-col-6  p-p-0">
                <p class="footer-title p-m-0 p-text-bold">Portion </p>
            </div>
            <div class="p-col-6  p-p-0">
                <p class="footer-content  p-m-0">{{recipeDetails.member}}</p>
            </div>
        </div>

        <div class="p-d-flex">
            <div class="p-col-6  p-p-0">
                <p class="footer-title p-m-0 p-text-bold">Temps de préparation </p>
            </div>
            <div class="p-col-6  p-p-0">
                <p class="footer-content p-m-0" *ngIf="recipeDetails.time_preparation"> {{recipeDetails.time_preparation}}</p>
            </div>
        </div>
        <div class="p-d-flex">
            <div class="p-col-6 p-p-0">
                <p class="footer-title p-m-0 p-text-bold">Temps de cuisson </p>

            </div>
            <div class="p-col-6  p-p-0">
                <p class="footer-content p-m-0" *ngIf="recipeDetails.time_cuisson"> {{recipeDetails.time_cuisson}}</p>
            </div>
        </div>

    <p-divider></p-divider>

<article class="p-d-flex p-justify-center">
        <p>Difficulté : </p>

            <img class="difficult_image" [src]="difficultImage" />
            <img class="difficult_image" [ngClass]="{'difficult_image_color': recipeDetails.difficult < 2}" [src]="difficultImage" />
            <img class="difficult_image" [ngClass]="{'difficult_image_color': recipeDetails.difficult < 3}" [src]="difficultImage" />
            <img class="difficult_image" [ngClass]="{'difficult_image_color': recipeDetails.difficult < 4}" [src]="difficultImage" />
            <img class="difficult_image" [ngClass]="{'difficult_image_color': recipeDetails.difficult < 5}" [src]="difficultImage" />
</article>
<p-divider></p-divider>
