<section class="recipes-section p-d-flex p-flex-row  p-justify-around">

    <div class="p-d-flex footer-background ">
        <div class="p-d-flex footer-background ">
            <div class="p-col-2 p-m-3" *ngIf="recipeDetails.ingredients">
                <p class="footer-title">Description :</p>
                <p>{{recipeDetails.description}}</p>
                <p class="footer-title">Ingrédients :</p>
                <ul>
                    <li class="p-d-flex p-justify-between p-align-center" *ngFor="let ingredient of recipeDetails.ingredients">
                        <p class="p-col-10 p-m-0">- {{ingredient.name}}</p>
                        <span class="p-col-2 p-badge p-badge-warning" *ngIf="ingredient.amount">{{ingredient.amount}}</span>
                    </li>
                </ul>
            </div>

            <p-divider layout="vertical" ></p-divider>

            <section class="p-col-9 p-m-3">
                <app-recipe-details-ingredient [ingredientsImg]="ingredientsImg"></app-recipe-details-ingredient>
                <img class="resize_fit_center" [src]="recipeDetails.img"/>

                <div>
                    <app-recipe-details-details [recipeDetails]="recipeDetails "></app-recipe-details-details>

                    <article *ngIf="recipeDetails.advices">
                        <p class="footer-title">Conseils :</p>
                        <p *ngFor="let advice of recipeDetails.advices"  [innerHTML]="advice"></p>
                    </article>

                    <p class="footer-title">Etapes :</p>
                    <div>
                        <ul>
                            <li class="p-d-flex p-justify-between p-align-center" *ngFor="let state of recipeDetails.states">
                                <p class="p-mb-1" [innerHTML]="'- ' + state"></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <article class="p-text-right"><b>BON APPETTIT</b></article>

            </section>
        </div>
    </div>
</section>
