@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.header-background-image{
    height: 350px;
    width: 100%;
    background: url(../../../assets/world.png) repeat  #FCD116;
    background-size: 60%;
    animation: animation 100s linear infinite;
}


@keyframes animation {
    100% {
        background-position: 3000px 0px;
    }
}
.header-title {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    padding-top: 130px;
    color: #333;
    text-shadow: 0.1em 0.05em 0.05em #FFFF;
    z-index: 1;
}

.header-image{
    height: 200px;
    margin: 65px 0 0 10%;
}

.header-title {
    animation: text-shadow 2s ease-in-out alternate;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow:
                0 0 0 #CE1126,
                0 0 0 #FCD116,
                0 0 0 #007A5E,
                0 0 0 #FFFFFF;
    }

    20% {
        transform: translateY(-1em);
        text-shadow:
                0 0.125em 0 #CE1126,
                0 0.25em 0 #FCD116,
                0 -0.125em 0 #007A5E,
                0 -0.225em 0 #FFFFFF;
    }

    40% {
        transform: translateY(0.5em);
        text-shadow:
                0 -0.0625em 0 #CE1126,
                0 -0.125em 0 #FCD116,
                0 0.0625em 0 #007A5E,
                0 0.0725em 0 #FFFFFF;
    }

    60% {
        transform: translateY(-0.25em);
        text-shadow:
                0 0.03125em 0 #CE1126,
                0 0.0625em 0 #FCD116,
                0 -0.03125em 0 #007A5E,
                0 -0.0625em 0  #FFFFFF;
    }

    80% {
        transform: translateY(0);
        text-shadow:
                0 0 0 #CE1126,
                0 0 0 #FCD116,
                0 0 0 #007A5E,
                0 0 0 #FFFFFF;
    }
}
