<p class="footer-title">Contact : </p>
<div class="p-d-flex">
    <p>
        {{mail}}
    </p>
</div>
<p class="footer-title">Crédits : </p>
<div class="p-d-flex p-flex-wrap">
    <div class="p-text-center">
        <p-chip label="Mamie Cameroun" image="https://github.com/NinaNekonoran/recette/blob/dev/src/assets/acc.jpg?raw=true" styleClass="p-mr-2"></p-chip>
        <p class="chip-titre">Recettes</p>
    </div>
    <div class="p-text-center">
        <a href="https://www.instagram.com/_plantae____/">
            <p-chip label="@_plantae___" image="https://secure.gravatar.com/avatar/36dfec402d1a8d280507d25e56020251?s=600&d=mm&r=g" styleClass="p-mr-2"></p-chip>
        </a>
        <p class="chip-titre">Photos</p>
    </div>
    <div class="p-text-center">
        <a href="https://www.instagram.com/nina_alessandra_fr/">
            <p-chip label="@nina_alessandra_fr" image="https://avatars.githubusercontent.com/u/45537238?s=400&u=4dc47526dae3e69a853bd32ef158a4ce1a072e3a&v=4" styleClass="p-mr-2"></p-chip>
        </a>
        <p class="chip-titre">Site web</p>
    </div>
</div>
